In [1]:
#import necessary libraries
from llama_cpp import Llama, LlamaGrammar
import json

In [2]:
grammar = LlamaGrammar.from_file("grammars/grammar_embeded.gbnf")

from_string grammar:
root ::= select-statement root_2
select-statement ::= [S] [E] [L] [E] [C] [T] [ ] select-statement_4 columns select-statement_7 select-statement_9 select-statement_11 select-statement_13 select-statement_15 select-statement_17
root_2 ::= [;] |
distinct ::= distinct_18
select-statement_4 ::= distinct |
columns ::= [*] | column-or-function columns_21
from-clause ::= from-clause_38 [F] [R] [O] [M] [ ] from-clause_39 from-clause_44
select-statement_7 ::= from-clause |
where-clause ::= where-clause_56 [W] [H] [E] [R] [E] [ ] condition
select-statement_9 ::= where-clause |
join-clause ::= join-clause_58 [J] [O] [I] [N] [ ] table join-clause_60 [ ] [O] [N] [ ] condition
select-statement_11 ::= join-clause select-statement_11 |
group-by-clause ::= group-by-clause_75 [G] [R] [O] [U] [P] [ ] [B] [Y] [ ] group-columns
select-statement_13 ::= group-by-clause |
order-by-clause ::= order-by-clause_79 [O] [R] [D] [E] [R] [ ] [B] [Y] [ ] order-columns
select-statement_15 ::= order-by-clause |
limit-clause ::= limit-clause_86 [L] [I] [M] [I] [T] [ ] number limit-clause_88
select-statement_17 ::= limit-clause |
distinct_18 ::= [D] [I] [S] [T] [I] [N] [C] [T] [ ] |
column-or-function ::= column-or-function_22
columns_20 ::= [,] [ ] column-or-function
columns_21 ::= columns_20 columns_21 |
column-or-function_22 ::= column | function column-or-function_26
column ::= column_29 column_32 column_33
function ::= [a-zA-Z_] function_35 [(] function_36 [)]
alias ::= alias_49 alias_51 [a-zA-Z] alias_52
column-or-function_26 ::= alias |
column_27 ::= schema-name [.]
schema-name ::= [e] [m] [p] [l] [o] [y] [e] [e] | [s] [h] [o] [p] | [h] [i] [r] [i] [n] [g] | [e] [v] [a] [l] [u] [a] [t] [i] [o] [n]
column_29 ::= column_27 |
column_30 ::= table-name [.]
table-name ::= [e] [m] [p] [l] [o] [y] [e] [e] | [s] [h] [o] [p] | [h] [i] [r] [i] [n] [g] | [e] [v] [a] [l] [u] [a] [t] [i] [o] [n]
column_32 ::= column_30 |
column_33 ::= [E] [m] [p] [l] [o] [y] [e] [e] [_] [I] [D] | [N] [a] [m] [e] | [A] [g] [e] | [C] [i] [t] [y] [S] [h] [o] [p] [_] [I] [D] | [N] [a] [m] [e] | [L] [o] [c] [a] [t] [i] [o] [n] | [D] [i] [s] [t] [r] [i] [c] [t] | [N] [u] [m] [b] [e] [r] [_] [p] [r] [o] [d] [u] [c] [t] [s] | [M] [a] [n] [a] [g] [e] [r] [_] [n] [a] [m] [e] [S] [h] [o] [p] [_] [I] [D] | [E] [m] [p] [l] [o] [y] [e] [e] [_] [I] [D] | [S] [t] [a] [r] [t] [_] [f] [r] [o] [m] | [I] [s] [_] [f] [u] [l] [l] [_] [t] [i] [m] [e] [E] [m] [p] [l] [o] [y] [e] [e] [_] [I] [D] | [Y] [e] [a] [r] [_] [a] [w] [a] [r] [d] [e] [d] | [B] [o] [n] [u] [s] | quoted-identifier
quoted-identifier ::= ["] quoted-identifier_89 ["]
function_35 ::= [a-zA-Z0-9_] function_35 |
function_36 ::= column | [*] |
ws ::= ws_90
from-clause_38 ::= ws |
from-clause_39 ::= tables | subquery
tables ::= table tables_47
subquery ::= [(] select-statement [)]
from-clause_42 ::= ws table-alias
table-alias ::= table-alias_53 table-alias_55 [a-zA-Z]
from-clause_44 ::= from-clause_42 |
table ::= [a-zA-Z_] table_48 | [(] select-statement [)] | quoted-identifier
tables_46 ::= [,] [ ] table
tables_47 ::= tables_46 tables_47 |
table_48 ::= [a-zA-Z0-9_] table_48 |
alias_49 ::= ws |
alias_50 ::= [A] [S] [ ] | [a] [s] [ ]
alias_51 ::= alias_50 |
alias_52 ::= [a-zA-Z0-9_] alias_52 |
table-alias_53 ::= ws |
table-alias_54 ::= [A] [S] [ ] | [a] [s] [ ]
table-alias_55 ::= table-alias_54 |
where-clause_56 ::= ws |
condition ::= condition_61
join-clause_58 ::= ws |
join-clause_59 ::= ws alias
join-clause_60 ::= join-clause_59 |
condition_61 ::= column condition_62 comparator condition_64 condition_65 | column [ ] [I] [N] [ ] [(] select-statement [)] | [E] [X] [I] [S] [T] [S] [ ] [(] select-statement [)]
condition_62 ::= ws |
comparator ::= [=] | [<] [>] | [<] | [>] | [<] [=] | [>] [=]
condition_64 ::= ws |
condition_65 ::= value | column
value ::= number | quoted-string | [(] select-statement [)]
number ::= number_69 number_70 number_73
quoted-string ::= ['] quoted-string_74 [']
number_69 ::= [-] |
number_70 ::= [0-9] number_70 | [0-9]
number_71 ::= [.] number_72
number_72 ::= [0-9] number_72 | [0-9]
number_73 ::= number_71 |
quoted-string_74 ::= [^'] quoted-string_74 |
group-by-clause_75 ::= ws |
group-columns ::= column group-columns_78
group-columns_77 ::= [,] [ ] column
group-columns_78 ::= group-columns_77 group-columns_78 |
order-by-clause_79 ::= ws |
order-columns ::= order-column order-columns_83
order-column ::= column order-column_85
order-columns_82 ::= [,] [ ] order-column
order-columns_83 ::= order-columns_82 order-columns_83 |
order-column_84 ::= [ ] [A] [S] [C] | [ ] [D] [E] [S] [C]
order-column_85 ::= order-column_84 |
limit-clause_86 ::= ws |
limit-clause_87 ::= [ ] [O] [F] [F] [S] [E] [T] [ ] number
limit-clause_88 ::= limit-clause_87 |
quoted-identifier_89 ::= [^"] quoted-identifier_89 |
ws_90 ::= [ <U+0009><U+000A>] ws_90 |

In [3]:
#build small pretrained model from hugging face
llm = Llama.from_pretrained(
    repo_id="Qwen/Qwen1.5-0.5B-Chat-GGUF",
    filename="*q8_0.gguf",
    verbose=False
)

/Users/leslyguerrero/Documents/sql-grammars/.conda/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [26]:
#prompt the model
response = llm(
    "Show all employees", #prompt
    grammar=grammar, max_tokens=-1 # as necessary tokens
)

In [27]:
response['choices'][0]['text'] #output the response

'SELECT * FROM Employees'

In [11]:
# read json from spider/test_data/dev.json
with open('spider/test_data/dev.json') as f:
    data = json.load(f)

In [15]:
data[2]

{'db_id': 'soccer_3',
 'query': 'SELECT Name FROM club ORDER BY Name ASC',
 'query_toks': ['SELECT',
  'Name',
  'FROM',
  'club',
  'ORDER',
  'BY',
  'Name',
  'ASC'],
 'query_toks_no_value': ['select',
  'name',
  'from',
  'club',
  'order',
  'by',
  'name',
  'asc'],
 'question': 'List the name of clubs in ascending alphabetical order.',
 'question_toks': ['List',
  'the',
  'name',
  'of',
  'clubs',
  'in',
  'ascending',
  'alphabetical',
  'order',
  '.'],
 'sql': {'from': {'table_units': [['table_unit', 0]], 'conds': []},
  'select': [False, [[0, [0, [0, 2, False], None]]]],
  'where': [],
  'groupBy': [],
  'having': [],
  'orderBy': ['asc', [[0, [0, 2, False], None]]],
  'limit': None,
  'intersect': None,
  'union': None,
  'except': None}}

In [8]:
#build small pretrained model from hugging face
llmsql = Llama.from_pretrained(
    repo_id="afrideva/pip-sql-1.3b-GGUF",
    filename="pip-sql-1.3b.Q2_K.gguf",
    verbose=False
)

In [9]:
#prompt the model
response = llmsql(
    "Show all employees", #prompt
    grammar=grammar, max_tokens=-1 # as necessary tokens
)

In [10]:
response['choices'][0]['text'] #output the response

'SELECT no_bloqatackk_and_wait_for_employees()\n        FROM remote_directory;'